// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap";

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

